.wrap {
  border: 2px solid #333;
  padding: 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.title {
  font-weight: bold;
}

.body {

}

.reaction {
  display: flex;
  gap: 10px;
  &Label {
    font-style: italic;
  }
}
